{% extends "base.html" %}
{% block content %}
<body>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title mb-0">52 weeks range table</h4>
                                <ol class="breadcrumb m-0">
                                    <!--<li class="breadcrumb-item active" aria-current="page"> 52 Weeks Range </li> -->
                                </ol>
                            </div>
                        
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <form method="POST" enctype="multipart/form-data">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="p-20">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Percentage difference from minimum:</label>
                                                    <input required name="minPercentage" class="form-control" type="number" min="0" max="100" placeholder="Percentage from Min"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="p-20">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Percentage difference from maximum:</label>
                                                    <input required name="maxPercentage" class="form-control" min="0" max="100" type="number" placeholder="Percentage from Max"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="p-20">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Date:</label>
                                                    <input required name="date" class="form-control" type="date" placeholder="Percentage from Max"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="p-20">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <div class="text-center m-t-15">
                                                        <div style="padding:15px">
                                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Update Tables</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </form>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Company ID</th>
                                    <th>Current Price</th>
                                    <th>Lowest Price</th>
                                    <th>Highest Price</th>
                                    <th>Chg % to Lowest</th>
                                    <th>Chg % to Highest</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for data in tableData %}
                                    <tr>
                                        <td>{{ data[1] }}</td>
                                        <td>{{ data[0] }}</td>
                                        {% if data[2] == "increased"%}
                                            <td><font color="#00E500">▲{{ data[3] }}</font></td>
                                        {% endif %}
                                        {% if data[2] == "decreased"%}
                                            <td><font color="red">▼{{ data[3] }}</font></td>
                                        {% endif %}
                                        {% if data[2] == "no change"%}
                                            <td>{{ data[3] }}</td>
                                        {% endif %}
                                        <td>{{ data[4] }}</td>
                                        <td>{{ data[5] }}</td>
                                        <td>{{ data[7] }}</td>
                                        <td>{{ data[8] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div> <!-- container-fluid -->
    </div> <!-- content -->
</div>
</body>
{% endblock %}